*.class
/target/
*.jar
*.war
.idea
.metadata
/bin/
.classpath
.project
.settings/*
#NetBeans gitignore
**/META-INF
nb-configuration.xml
/readme.txt
/readme.url
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/manifest.mf
/build.xml
/nbproject/project.properties
/src/ukma/tprk/gui/Gui.form
/nbproject/project.xml
/src/ukma/tprk/gui/Gui.java